{{#if articles.length}}
   <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-10 mx-auto">
          <div class="page-heading">
             <h3 class="display-6">Current articles:</h3>
             <hr>
             {{#each articles as |article|}}
        <div class='row'>
           <div class='col-lg-12 col-md-10 mx-auto'>
    
          <article class="post-preview">
            <h4><a href='/article/{{article.id}}'>{{article.name}}</a></h4>
            <p class="post-meta"> "Posted by {{article.user.name}} on {{article.date_created}}. </p>

          </article>
          <hr>
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}