<div class="row ">
  <div class="col-md-6 test-center">
    <h2 class="text-center">Login</h2>
    <hr>
    <form class="form login-form">
      <div class="form-group">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="input-group mb-2">
          <span class="input-group-text " id="basic-addon1" for="email-login">Email address:</span>
          <input type="text" class="form-input form-control" id="email-login" aria-label="Email"  aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-2">
          <span class="input-group-text" id="basic-addon1" for="password-login">Password:</span>
          <input class="form-input form-control " type="password" id="password-login" aria-label="Password"  aria-describedby="basic-addon1" />
        </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
<script src="./js/login.js"></script>
