<div class='row'>
  <div class='col-md-6 test-center'>
    <h2>Sign Up</h2>
    <hr>

    <form class='form signup-form'>
      <div class='form-group'>

        <div class="input-group mb-2">
          <span class="input-group-text " for='name-signup'id="basic-addon1" for="name">Name</span>
          <input
          type='text'
          class='form-input form-control'
          id='name-signup'
          placeholder="John Joe"
          aria-span="Name"  
          aria-describedby="basic-addon1"/>
        </div>
        
        <div class="input-group mb-2">
        <span class="input-group-text " id="basic-addon1" for='email-signup'>Email</span>
        <input
          class='form-input form-control'
          type='email'
          id='email-signup'
          placeholder='example@gmail.com'
          aria-span="Email"  
          aria-describedby="basic-addon1"
        />
        
      <div class="input-group mb-2">
        <span class="input-group-text " id="basic-addon1" for='password-signup'>Password</span>
        <input 
          class='form-input form-control' 
          type='password' 
          id='password-signup'
          aria-span="Email"  
          aria-describedby="basic-addon1"
          placeholder='*********'
        />
      </div>

      <div class='form-floating '>
        <button class='btn btn-primary' type='submit'>Signup</button>
      </div>
      
    </form>
  </div>
</div>

<script src='./js/signup.js'></script>